    .formuser {
        width: 30%;
        justify-content: center;
    }
    
    .back {
        height: 60vh;
        background-color: rgb(230, 97, 97);
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    
    .btnuser {
        margin-top: 6%;
        width: 100%;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bolder;
        font-size: 1.2rem;
        color: white;
        background-color: rgb(74, 25, 165);
    }
    
    .textstyle {
        font-size: 100%;
        text-align: center;
        justify-content: center;
        width: 100%;
        color: rgb(204, 204, 102);
    }