body {
    height: 100%;
}

.navcolor {
    background-color: rgb(14, 124, 221);
    color: rgb(206, 240, 12);
}

.menu {
    background-color: rgb(40, 136, 219);
    height: 800px;
}

.small {
    background-color: rgb(8, 17, 26);
    width: 20px;
    height: 800px;
}

.btnmenu {
    width: 100%;
    margin-left: 1px;
}

.test {
    margin-left: 40%;
    margin-top: 10%;
    scroll-behavior: auto;
    background-color: khaki;
    max-width: 300px;
    max-height: 400px;
}

li {
    list-style: none;
    margin-top: 2%;
    background-color: thistle;
    background-size: cover;
    width: 200px;
}

.formclick>input {
    color: blue;
    background-color: lightgrey;
    margin-left: 10%;
    margin-top: -10%;
}

.formclick>button {
    background-color: green;
    color: wheat
}

.cont {
    overflow-y: scroll;
    height: 300px;
}

.txt {
    font-size: 15px;
    font-weight: bolder;
    width: 100%
}

.user {
    color: red;
}

.currentmsg {
    background-color: deeppink;
}

.video {
    width: 100%;
    height: 100%;
}

.canavas {
    display: none;
}

#showhide {
    display: none;
}

.covertemplate {
    background-image: url('./images/cover.svg');
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    max-height: 150%;
}